streamlit==1.45.1
distutils
numpy==1.25.2
catboost==1.2.8
dice_ml==0.11
doubleml==0.10.0
econml==0.15.1
joblib==1.4.0
lightgbm==4.6.0
matplotlib==3.7.2
ngboost
pandas==2.2.3
pygam==0.9.1
scikit_learn==1.4.2
scipy==1.15.3
seaborn==0.13.2
shap==0.47.2
statsmodels==0.14.2
xgboost==3.0.2
xlrd==2.0.1
